.angle-dial {
  --size: 30px;

  border: 2px solid #1f2667;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  &--rotate {
    height: 100%;
    border-radius: 50%;
    padding: 3px;
    box-sizing: border-box;
  }

  &--dot {
    height: 40%;
    width: 2px;
    background: #1f2667;
    border-radius: 2px;
    margin: auto;
  }
}
