.slider-control {
  position: relative;
  width: 100%;
  height: 12px;
  background: #efefef;
  border-radius: 6px;
}

/* .slider-control--addible {
  cursor: url(../../../public/add.svg) 8 8, auto;
} */
