.color-slider {
  position: absolute;
  transition: left 50ms ease-out, top 50ms ease-out;
  cursor: default;
  border-radius: 50%;

  &:hover,
  &.is-active {
    .color-slider__pointer {
      transform: scale(1.2);
    }
  }
}

.color-slider__pointer {
  display: block;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  position: relative;
  transition: 150ms;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #fff;
    box-sizing: border-box;
  }
}
